*{
    box-sizing:border-box;
}

body{
    background-image:url(https://i.postimg.cc/V5czrShG/windmillblur.png);
    background-repeat:no-repeat;
    background-size: cover;
    width:100vw;
    height:100vh;
    font-family: monospace; 
    margin:0;
}

/* links */
a {
    outline:transparent;
    text-decoration: none;

}
a:link {
    color:#214248;
}
a:visited {
        color:#1f2b20;

}
a:hover {
    color:#B0C4B1;
}
a:active {
        color: #6a816b;

}           

.matchestwo {
    display:flexbox;
    z-index:1;
    position:fixed;
    top:10px;
    padding-bottom:15px;
    padding-top:20px;
    padding-left:20px;
}

.boxtwo {
    background-color:#DEDBD2;
    border: solid 1px #214248; 
    display:inline-block;
    padding:2.5px;
    color: #214248;
}


.classbox {
  display: flex;
  justify-content: center;
  column-gap:10px;
  row-gap:5px;  
  min-height:100vh;   
  margin: 0px;     
  margin-top: -285px;
  padding:300px;
  width:100vw;
  height:100vh;
}

.classblurb {
    display:flex;
    justify-content: center; 
    text-align: center;
    margin-top:-20px;
}

.classblurbtwo {
    display:flex;
    margin-top:150px;
    justify-content: center;
    text-align: center;
}

.slideshow-container {
    margin:auto;
    padding:0;
}

p{
    margin:px;
    padding:0;
    text-align: center;
    color:#1f2b20;
}

h2 {
    margin:0;
    padding:0;
    text-align: center;
}
h1 {
    margin:0;
    padding:0;
    text-align: center;
    font-size:12px;
    font-weight: normal;
}


.projcontainer {
    display:grid;
    grid-template-columns: repeat(5, 1fr); 
    place-content: center;
    align-items: center;
    justify-items: center;
    gap:25px;
    padding:120px;
    color:#EDEDE9;
    margin-top:-105px;
}


.bookbox{
    width:150px;
    height:150px;
    margin:10px;
    background-image:url(https://i.postimg.cc/bwmgjSk3/500.webp);
    background-repeat:no-repeat;
    background-size: cover;
    display:inline-block;
    padding:5px;
    color:#DEDBD2
}


.bookbox:hover {
    background-image:url(https://i.postimg.cc/rRkx4M7v/windmill.jpg);
    cursor:pointer;
}



.illbox{
    width:150px;
    height:150px;
    margin:10px;
    background-image:url(https://i.postimg.cc/xqYG88T1/ill.webp);
    background-repeat:no-repeat;
    background-size: cover;
    display:inline-block;
    padding:5px;
    color:#DEDBD2
}


.illbox:hover {
    background-image:url(https://i.postimg.cc/rRkx4M7v/windmill.jpg);
    cursor:pointer;
}

.posterbox{
    width:150px;
    height:150px;
    margin:10px;
    background-image:url(projects/posteres.webp);
    background-repeat:no-repeat;
    background-size: cover;
    display:inline-block;
    padding:5px;
    color:#DEDBD2
}


.posterbox:hover {
    background-image:url(https://i.postimg.cc/rRkx4M7v/windmill.jpg);
    cursor:pointer;
}


.scptbox{
    width:100px;
    height:150px;
    margin:10px;
    background-image:url(https://i.postimg.cc/yWRm1t9Y/scpt.webp);
    background-repeat:no-repeat;
    background-size: cover;
    display:inline-block;
    padding:5px;
    color:#DEDBD2
}


.scptbox:hover {
    background-image:url(https://i.postimg.cc/rRkx4M7v/windmill.jpg);
    cursor:pointer;
}


.brandbox{
    width:150px;
    height:150px;
    margin:10px;
    background-image:url(https://i.postimg.cc/9FfRCs2X/branding.webp);
    background-repeat:no-repeat;
    background-size: cover;
    display:inline-block;
    padding:5px;
    color:#DEDBD2
}


.brandbox:hover {
    background-image:url(https://i.postimg.cc/rRkx4M7v/windmill.jpg);
    cursor:pointer;
}


