*{
    box-sizing:border-box;
}

body{
    background-color: #EDEDE9;
    font-family: monospace; 
    margin:0;
}

/* links */
a {
    outline:transparent;
    text-decoration: none;

}
a:link {
    color:#214248;
}
a:visited {
        color:#1f2b20;

}
a:hover {
    color:#B0C4B1;
}
a:active {
        color: #6a816b;

}           

.matchestwo {
    display:flexbox;
    z-index:1;
    position:fixed;
    top:10px;
    padding-bottom:15px;
    padding-top:20px;
    padding-left:20px;
}

.boxtwo {
    background-color:#DEDBD2;
    border: solid 1px #214248; 
    display:inline-block;
    padding:2.5px;
    color: #214248;
}


.classbox {
  display: flex;
  position:fixed;
  justify-content: center;
  column-gap:15px;
  row-gap:0px;  
  min-height:100vh;   
  margin: 0px;     
  margin-top: -255px;
  padding:270px;
  width:100vw;
  height:100vh;
}

.classblurb {
    display:flex;
    margin-top:50px;
    justify-content: center;
    text-align: center;
}

.classblurbtwo {
    display:flex;
    margin-top:120px;
    justify-content: center;
    text-align: center;
}

.slideshow-container {
    margin:auto;
    padding:0;
}

p{
    margin:px;
    padding:0;
    text-align: center;
    color:#1f2b20;
}

h2 {
    margin:0;
    padding:0;
    text-align: center;
}
h1 {
    margin:0;
    padding:0;
    text-align: center;
    font-size:12px;
    font-weight:150;
}


.projcontainer {
    display:grid;
    grid-template-columns: repeat(4, 1fr); 
    place-content: center;
    align-items: center;
justify-items: center;
    gap:5px;
    padding:45px;
    background-color:#EDEDE9;
    margin-top:-15px;
}


.bookbox{
    width:150px;
    height:150px;
    margin:10px;
    background-image:url(https://i.postimg.cc/bwmgjSk3/500.webp);
    background-repeat:no-repeat;
    background-size: cover;
    display:inline-block;
    padding:5px;
    color:#DEDBD2
}


.bookbox:hover {
    background-image:url(https://i.postimg.cc/rRkx4M7v/windmill.jpg);
    cursor:pointer;
}

